:root{
	--themeColor: #11FFA6;
}

html, body{
	scroll-behavior: smooth;
}

/**{ outline: 1px solid rgba(255, 0, 0, 0.2);  }*/

/*new defined utilities*/
.my-card{
	background-color: rgba(34,34,34,0.25);
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 18px;
}
.my-card img{
	width: 100%;
	filter: grayscale(100%);
}
.btn-gradient{
	background-image: linear-gradient(45deg, #08675C, #12C8B6);
	color: white !important;
	box-shadow: 0 5px 16px rgba(0,0,0,0.8);
}

.btn-lighter{
	background-image: linear-gradient(45deg, #aaaaaa, #ffffff);
	color: #666 !important;
	box-shadow: 0 5px 16px rgba(0,0,0,0.8);
}

.my-shadow{
	box-shadow: 0 20px 45px rgba(0,0,0,0.65);
}

.text-lighter{
	color: rgba(255,255,255,0.85);
}







/*Navbar*/
nav{
	z-index: 2000;
	width: 100%;
}
nav .navbar-brand{
	margin: 0 40px;
}
.navbar .navbar-brand img{
	width: 100px;
	height: 100px;
}
.navbar-collapse{
    flex-grow: 1;
}

.dope-navbar .dope-left .nav-link, .dope-navbar .dope-right .nav-link{
	padding: 0.5rem 1.5rem;
	color: white;
}
.dope-navbar .dope-left{
	background: rgb(40,50,62);
	background: linear-gradient(90deg, rgba(26,32,40,1) 0%, rgba(54,67,83,1) 88%, rgba(74,91,112,0) 100%);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-left: 10px solid #00a567;
}
.dope-navbar .dope-right{
	background: rgb(74,91,112);
	background: linear-gradient(90deg, rgba(74,91,112,0) 0%, rgba(54,67,83,1) 12%, rgba(26,32,40,1) 100%);
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px; 
	border-right: 10px solid #00a567;
}
.dropdown-item:active{
	background-color: #00a567 !important;
}


@media (max-width: 991.98px){
	.navbar{
		padding: 0.5rem 1rem;
	}
	.navbar .navbar-brand{
		margin: 0;
	}
	.navbar .navbar-brand img{
		width: 80px;
		height: 80px;
	}
	.dope-navbar .dope-left, .dope-navbar .dope-right{
		background: transparent;
		border: none;
	}
}







/*Hero*/
.page-container{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	margin-top: -126px;
}

.page-container .page-back{
	width: 120%;
	height: 120%;
	left: -10%;
	top: -10%;
	position: absolute;
	background-image: url('../img/my/11.jpg');
	/*background-image: linear-gradient(black, black);*/
	background-size: cover;
	background-position: center -250px;
	filter: blur(0px);
	z-index: 2;
}

.page-container img{
	position: absolute;
	top: 160px;
	z-index: 3;
}

.page-container .main-btn{
	position: absolute;
	top: 450px;
	text-align: center;
	width: 100%;
	z-index: 3;
}

.page-container .main-btn a{
	padding: 8px 36px;
	font-weight: bold;
}

.page-container .main-btn a:hover{
	transition: 0.3s;
}


/*Header Mobile*/
header{
	display: none;
	height: 90vh;
	background: url('../img/my/11-mobile.jpg') no-repeat center;
	background-size: cover;
	position: relative;
}
header:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 60px;
	background: linear-gradient(0deg, rgba(34, 34, 34, 1), transparent);
	bottom: 0px;
	left: 0px;
}




/*about us*/
.abt-us{
	background-color: #222;
	padding: 80px 0;
}

#photosTop{
	margin-top: 30px;
}

.abt-us .box1{
	flex: 1;
	height: 200px;
}

.abt-us .box2{
	flex: 1;
	height: 295px;
}

.abt-us .box3{
	height: 180px;
	width: 100%;
}

.abt-us .box4{
	height: 240px;
	width: 100%;
}

.abt-us .abt-heading{
	color: var(--themeColor);
}

.abt-us .abt-content{
	font-family: lato, sans-serif;
	padding-top: 10px;
	padding-left: 20px;
	text-align: justify;
}

.nav-pills .nav-item .nav-link{
    padding: 4px 12px;
    border: 1px solid var(--secondary);
    color: var(--secondary);
}
.nav-pills .nav-item .active{
    background-color: var(--secondary);
    color: white;
}




/*Events*/
#events{
	/*background-color: #111;*/
	background-image: url('../img/my/pattern1.jpg');
	padding-bottom: 100px;
}

#events .design1{
	width: 100%;
	height: 100px;
	background-color: #222;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 0%, 0 100%);
}

span.heading{
	 border-bottom: 1px solid var(--themeColor);
	 padding-bottom: 8px;
}


#events .box{
	display: block;
    border: 0.5px solid var(--themeColor);
    padding: 20px 15px;
    margin:15px 0;
    transition-property: box-shadow, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
#events .box:hover{
    cursor: pointer;
    background-color: var(--themeColor);
    box-shadow: 0px 15px 18px rgba(0,0,0,1);
}
#events .box .box-img{
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
#events .box p{
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    margin-bottom: 0.5rem !important;
    background-color: #fff;
    color: #2b0a3d;
    opacity:0.6;
    box-shadow: 0 4px 6px rgba(0,0,0,0.65);
}

#events .box h4{
	color: #ebebeb;
	font-family: oswald;
}

#events .box:hover h4{
	color: #222;
	transition: 0.3s;
}


/*Campus Ambassador*/
#campus_amb{
	background: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('../img/my/ca_cover.jpg') no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	box-shadow: inset 0 0px 10px rgba(0,0,0,0.9);
}


/*Our Sponsors*/
#sponsors{
	background-color: #000;
	padding: 40px 0;
}


/*Our Team*/
#our-team{
	background: url('../img/my/team/bg-team.png') no-repeat center;
	background-size: cover;
}
#our-team .gradient .gradient-box{
	position: relative;
	width: 100%;
	height: 160px;
	background-color: red;
	z-index: 2;
	transform: scaleY(0);
	border-radius: 5px;
}
#our-team .gradient img{
	margin-top: -170px;
	position: relative;
	z-index: 3;
}
#our-team .gradient:hover .gradient-box{
	transform: scaleY(1);
	transition: 0.4s;
}

@media (max-width: 1199.98px){
	#our-team .gradient .gradient-box{
		height: 130px;
	}
	#our-team .gradient img{
		margin-top: -140px;
	}
}
@media (max-width: 991.98px){
	#our-team .gradient .gradient-box{
		height: 90px;
	}
	#our-team .gradient img{
		margin-top: -100px;
	}
}
@media (max-width: 767.98px){
	#our-team{
		background: #222;
	}
	#our-team .gradient .gradient-box{
		height: 240px;
		transform: scaleY(1);
	}
	#our-team .gradient img{
		margin-top: -240px;
	}
}



/* Gallery */
#gallery{
	padding: 80px 0;
	background-image: url('../img/my/pattern2.png');
	border-top: 10px solid #333;
	border-bottom: 10px solid #333;
}


/* Footer */
#footer{
	padding: 60px 0;
	background-image: linear-gradient(180deg, #111111 0%, #000000 100%); 
	color: #dfdfdf;
	font-family: lato, sans-serif;
}
#footer .container{
	opacity: 0.9;
}
hr{
	background: rgba(255,255,255,0.15);
}

#fb-icon{
	display: inline-block;
	background-color: #3b5998;
	border-radius: 40px;
	color: white;
	padding: 8px 16px;
}
#insta-icon{
	display: inline-block;
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	border-radius: 40px;
	color: white;
	padding: 8px 13px;
}
#college-icon{
	display: inline-block;
	background-color: rgb(192, 45, 45);
	border-radius: 40px;
	color: white;
	padding: 8px 11px;
}




@media (max-width: 991.98px){
	header{
		display: flex;
	}
	.navbar{
		padding-top: 0;
		padding-bottom: 0;
	}
	.page-container{
		display: none;
	}
}


@media (max-width: 575.98px) {
	header{
		display: flex;
		height: 75vh;
	}
	.navbar{
		padding-top: 0;
		padding-bottom: 0;
	}
	.page-container{
		display: none;
	}
	.abt-us{
		padding: 20px 0 50px 0;
	}
	#events p{
		font-size: 12.8px;
	}
	#campus_amb{
		background: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('../img/my/ca_mobile.jpg') no-repeat center;
	}
	#campus_amb h2{
		text-align: center;
	}
	#campus_amb h2 span.heading{
		padding-bottom: 0px !important;
	}
	#campus_amb p{
		text-align: justify;
		font-size: 12.8px;
		margin-top: 30px !important;
	}
	#ca-btn{
		text-align: center;
	}
	#sponsors h2{
		text-align: center;
	}
	#footer p{
		font-size: 12.8px;
	}
}